
/* header css */
    #imag{
    margin-left: 330px;
    position:absolute;
    text-decoration: none;
}
/*rtu logo */

#logo{

       
    margin-left: 450px;
    margin-top: 40px;
   color:#00b3b3;
    
}
#header{
    display: inline-block;
    margin-top: 10px;
   background-color:#001a33;
    width: 100%;
    padding-top: 10px;
}
#header a{
    color: white;
    text-decoration: none;
}
#header a::hover{
    color:aqua;
    
}

 #sgn{
    list-style-type: none;
    margin-left: 60px;
    padding: 0;
    overflow: hidden;
    border: 1px solid white;
    background-color:white;
       transition: all 0.3s ease-out;
}

  ul {
    list-style-type: none;
    margin-top: 5px;
      margin-bottom: 5px;
    

    overflow: hidden;
    background-color: #001a33;
}

li.dropdown {
    float: left;
    padding-left: 20px;
    font-family:times new roman;
    font-size: 20px;
}

li a, .dropbtn {
    display: inline-block;
    color: #00b3b3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}



 li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

li.dropdown {
    display: inline;
}




.dropdown-content {
    display: none;
    position: absolute;
    background-color:#001a33 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:#00b3b3}

.dropdown:hover .dropdown-content {
    display: block;
}

/*search*/
input[type=text]{
    width:40%;
    border-spacing:border-box;
    border: 2px solid white;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
    background-color: white;
    background-image:url("searchicon.png");
    background-position: 10px 10 px;
    background-repeat: no-repeat;
    padding: 8px 15px 8px 15px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
    background-color: #00b3b3;
    color:white;
    width:60%;
}




.A ul{
    display: inline;
}
 li.A{
     display: table-row;
}

.foot{
    background-color: #001a33;
    color:#00b3b3;
    width:100%;
    margin-top: 25px;
}

.foot table {
    font-family: arial, sans-serif;
   padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin-left: 150px;
    margin-right: 150px;
    
}

td, th {
   
    text-align:left;
    padding-right: 10px;
   
}



.cop{
    margin-left: 50px;
}

.secfoot{
  
    width:100%;
    color:#E0E0E0 ;
    padding-top: 10px;
    padding-bottom: 10px;
 height=200px;
    background-color: 	#606060 ;
}

.secfoot table{
    margin-left: 155px;
    font-family: arial,sans-serif;
   
}

#soc{
margin-left: 80px;
    float: right;
}

.foot a{
    color:#00b3b3;
    text-decoration: none;
}

.foot a:hover{
background-color: gray;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.fra{
    height:450px;
}


.messege{
    display: inline-block;
}
.hod{
    color: #00b3b3;
}


.container{
    display: flex;
    width:1000px;
    height: 250px;
    
}

.item1{
  
    width:200px;
    height:200px;
    margin:10px;
    
}

.item{
    background-color: #001a33;
    width:9000px;
    height:200px;
    margin:10px;
    color:#00b3b3;
    font-size: 20px;
}

.boxo{
    margin-left: 130px;
}

.aaha{
    color:#00b3b3;
}
.item p{
    margin-left: 10px;
    
}

.aaha{
    margin-left: 140px;
    font-size: 20px;
}

.dea{
    color:#00b3b3;
    margin-left: 130px;
}

.mat{
    color:#00b3b3;
    margin-left: 130px;
    font-size: 50px;
}

.deana{
    width:77%;
     height:1000px;
    margin-left: 130px;
}
