
table{
width:80%
    
}


TABLE,th,td
{
margin-top: 20px;
border-collapse:collapse;
    margin-left:130px;
}



th,td{
padding:5px;
text-align:center;
}

.mech{
    background-color: #00b3b3;
    color:white;
    font-size: 20px;
}

.p{
    margin-left: 130px;
}
